<app-navbar > </app-navbar>
<app-sidebar > </app-sidebar>
<app-footer > </app-footer>
<ngx-spinner
	bdColor = "rgba(51, 51, 51, 0.8)"
	size = "medium"
	color = "#fff"
	type = "pacman"
></ngx-spinner>
	<div class="main">
		<div class="main-content">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">Add Brand</h3>
				</div>
						<div class="panel-body">								
									<div class="col-lg-6 ">
										  <div class="form-group">
										    <label for="exampleInputEmail1">Brand Name</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] = "brand.brand_name"  type="text" class="form-control" id="fullname" aria-describedby="emailHelp" placeholder="Brand Name">
										  </div>

										  <div class="form-group">
										    <label for="exampleInputEmail1">Brand Filepath</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] = "brand.brand_path"  type="text" class="form-control" id="fullname" aria-describedby="emailHelp" placeholder="Last Name">
										  </div>

										  <div class="form-group">
										    <label for="exampleInputEmail1">Brand Filename</label>
										    <p class="form-control">{{ brand.brand_file }}</p>
										  </div>								 
									</div>
									<div class="col-lg-12">
										<button (click)="addAgent()" type="submit" class="btn btn-lg btn-primary update">Save Changes</button>
										<button (click)="goToAgent()" type="submit" class="btn btn-lg btn-primary update cancel">Cancel</button>
									</div>

							</div>
					</div>
			</div>
	</div>