<app-navbar > </app-navbar>
<app-sidebar > </app-sidebar>
<app-footer > </app-footer>
<ngx-spinner
	bdColor = "rgba(51, 51, 51, 0.8)"
	size = "medium"
	color = "#fff"
	type = "pacman"
></ngx-spinner>



	<div class="main">

			<div class="main-content">

					<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Add Agent</h3>
								</div>
								<div class="panel-body">
								
									<div class="col-lg-6 ">
									
										  <div class="form-group">
										    <label for="exampleInputEmail1">Agent First Name</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] = "agent.agent_fname"  type="text" class="form-control" id="fullname" aria-describedby="emailHelp" placeholder="First Name">
										  </div>

										  <div class="form-group">
										    <label for="exampleInputEmail1">Agent Last Name</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] = "agent.agent_lname"  type="text" class="form-control" id="fullname" aria-describedby="emailHelp" placeholder="Last Name">
										  </div>

										  <div class="form-group">
										    <label for="exampleInputEmail1">Agent Username</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] = "agent.agent_username"  type="text" class="form-control" id="fullname" aria-describedby="emailHelp" placeholder="Username">
										  </div>

										  <div class="form-group">
										    <label for="exampleInputEmail1">Address</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] = "agent.agent_username"  type="text" class="form-control" id="fullname" aria-describedby="emailHelp" placeholder="Username">
										  </div>
								  
									</div>
									<div class="col-lg-6 ">
										<div class="form-group">
										    <label for="exampleInputEmail13">Agent Status</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] ="agent.agent_status" type="email" class="form-control" id="exampleInputEmail13" aria-describedby="emailHelp" placeholder="Email Address">
										  </div>

										   <div class="form-group">
										    <label for="exampleInputEmail13">Email</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] ="agent.agent_email" type="email" class="form-control" id="exampleInputEmail13" aria-describedby="emailHelp" placeholder="Email Address">
										  </div>	

										    <div class="form-group">
										    <label for="exampleInputEmail1">Phone</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] ="agent.agent_phone" type="tel" class="form-control" id="exampleInputEmail8" aria-describedby="emailHelp" placeholder="Phone">
										  </div>

										 <div class="form-group">
										    <label for="exampleInputEmail1">Temporary Password</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] = "agent.agent_username"  type="text" class="form-control" id="fullname" aria-describedby="emailHelp" placeholder="Username">
										  </div>							
										
									</div>
									<div class="col ">
										<button (click)="addAgent()" type="submit" class="btn btn-lg btn-primary update">Save Changes</button>
										<button (click)="goToAgent()" type="submit" class="btn btn-lg btn-primary update cancel">Cancel</button>
									</div>
								
								</div>
					</div>
			</div>
	</div>