<!-- <ngx-smart-modal #confirmPayment identifier="confirmPayment" (onOpen)="assignData()" (onClose)="" (onDismiss)=""> -->		
<ngx-smart-modal #applyTax [identifier]="'applyTax'" (onOpen)="assignData()">
			<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Apply Tax Confirmation</h3>
								</div>
								<div class="panel-body">
									<p class="panel-title">Please select a tax rate to apply.</p>
								<br>
								<form>
									<div>
										 <div>
										    <label for="exampleInputEmail1">Invoice No.</label>
										    <p class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Device Type">{{invoice?.invoice_no}}</p>
										  </div>

										  <div>
										    <label for="exampleInputEmail1">VAT Excluded</label>
										    <p class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Device Type">€ {{invoice?.total_price}}</p>
										  </div>

										  <div>
										  	<label for="exampleInputEmail1">Tax Rate</label>
										  	<select [ngModelOptions]="{standalone: true}" class="form-control" (change)="calculateTotal($event.target.value)" [(ngModel)] = "selectedTax" aria-describedby="emailHelp">
										    	<option [value]="i" *ngFor="let tax of taxes;let i = index">{{tax.tax_name}} ( {{tax.tax_value}}% )</option>
										    </select>
										  </div>

										  <div>
										    <label for="exampleInputEmail1">Total Price</label>
										    <p class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tax Rate">€ {{total}}</p>
										  </div>
									</div>
								</form>
								</div>
								<div class="panel-body">
									<button (click)="applyInvoiceTax()" class="btn btn-lg btn-primary update">Confirm</button>
									<button (click)="applyTax.close()" class="btn btn-lg btn-primary update">Back</button>
									
								</div>
					</div>
</ngx-smart-modal>