<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<!-- <li><a routerLink="/admin" routerLinkActive="active" class=""><i class="lnr lnr-chart-bars"></i> <span>Dashboard</span></a></li> -->
						<li><a routerLink="/leads" routerLinkActive="active"  class=""><i class="lnr lnr-magnifier"></i> <span>Leads</span></a></li>
						<li><a routerLink="/customers" routerLinkActive="active"  class=""><i class="lnr lnr-users"></i> <span>Customers</span></a></li>
						<li><a routerLink="/agents" routerLinkActive="active"  class=""><i class="lnr lnr-list"></i> <span>Agents</span></a></li>
						<li><a routerLink="/invoices" routerLinkActive="active"  class=""><i class="lnr lnr-printer"></i> <span>Invoices</span></a></li>
						<li><a routerLink="/networks" routerLinkActive="active"  class=""><i class="lnr lnr-earth"></i> <span>Networks</span></a></li>
						<li><a routerLink="/tickets" routerLinkActive="active"  class=""><i class="lnr lnr-file-empty"></i> <span>Tickets</span></a></li>
						<li><a routerLink="/devices" routerLinkActive="active"  class=""><i class="lnr lnr-file-empty"></i> <span>Devices</span></a></li>
						<li><a routerLink="/inventory/invt" routerLinkActive="active"  class=""><i class="lnr lnr-layers"></i> <span>Inventory</span></a></li>
						<li><a routerLink="/logistics" routerLinkActive="active"  class=""><i class="lnr lnr-earth"></i> <span>Logistics</span></a></li>
					<!-- 	<li><a routerLink="/location" routerLinkActive="active"  class=""><i class="lnr lnr-earth"></i> <span>Locations</span></a></li> -->
						<!-- <li><a routerLink="/settings" routerLinkActive="active"  class=""><i class="lnr lnr-cog"></i> <span>Settings</span></a></li> -->

						<!-- <li>
							<a  routerLink="/customers" routerLinkActive="active" class=""><i class="lnr lnr-chart-bars"></i> <span>Customers</span></a>
							<a href="#subPages" data-toggle="collapse" style="position: absolute;top: 0;right: 0; border : none; background: none ;" > <i class="icon-submenu lnr lnr-chevron-left"></i> </a>

						</li>
						<li>
							<a routerLink="/invoices" routerLinkActive="active" class=""><i class="lnr lnr-cog"></i> <span>Invoices</span></a>
							<a href="#invoice" data-toggle="collapse" style="position: absolute;top: 0;right: 0; border : none; background: none ;" > <i class="icon-submenu lnr lnr-chevron-left"></i> </a>
							<div id="invoice" class="collapse ">
								<ul class="nav">
									<li><a routerLink="/edit-invoice" class="">New</a></li>
								</ul>
							</div>
						</li>
						<li><a routerLink="/notifications" routerLinkActive="active" class=""><i class="lnr lnr-alarm"></i> <span>Notifications</span></a></li>
						<li>
							<a href="#subPages2" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Inventory</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages2" class="collapse ">
								<ul class="nav">
									<li><a href="page-profile.html" class="">Profile</a></li>
									<li><a href="page-login.html" class="">Login</a></li>
									<li><a href="page-lockscreen.html" class="">Lockscreen</a></li>
								</ul>
							</div>
						</li> -->
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->