<app-navbar > </app-navbar>
<app-sidebar > </app-sidebar>
<app-footer > </app-footer>
<ngx-spinner
	bdColor = "rgba(51, 51, 51, 0.8)"
	size = "medium"
	color = "#fff"
	type = "pacman"
></ngx-spinner>



	<div class="main">

			<div class="main-content">

					<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">{{ title }}</h3>
								</div>
								<div class="panel-body">
								<form>
									<div class="col-lg-6 ">
									
										  <div class="form-group">
										    <label for="exampleInputEmail1">Customer First Name</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] = "customer.customer_fname"  type="text" class="form-control" id="firstname" aria-describedby="emailHelp" placeholder="Customer First Name">
										  </div>
										  <div class="form-group">
										    <label for="exampleInputEmail1">Customer Last Name</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] = "customer.customer_lname"  type="text" class="form-control" id="lastname" aria-describedby="emailHelp" placeholder="Customer Last Name">
										  </div>
										  <!-- <div class="form-group">
										    <label for="exampleInputPassword1">Last Name</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] ="customer.lastname" type="text" class="form-control" id="exampleInputPassword1" placeholder="Last Name">
										  </div> -->

										  <div class="form-group">
										    <label for="exampleInputEmail13">Email</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] ="customer.email" type="email" class="form-control" id="exampleInputEmail13" aria-describedby="emailHelp" placeholder="Email Address">
										  </div>

										  
										
									</div>
									<div class="col-lg-6 ">

										 <div class="form-group">
										    <label for="exampleInputEmail1">Phone</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] ="customer.phone" type="number" class="form-control" id="exampleInputEmail8" aria-describedby="emailHelp" placeholder="Phone">
										  </div>
										  
										<div class="form-group">
										    <label for="exampleInputEmail1">Address</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] ="customer.address" type="number" class="form-control" id="exampleInputEmail8" aria-describedby="emailHelp" placeholder="Phone">
										  </div>
									
										   <div class="form-group">
										    <label for="exampleInputEmail1">Birthdate</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] ="customer.birthdate" type="date" class="form-control" id="exampleInputEmail9" aria-describedby="emailHelp" placeholder="Birthdate">
										  </div>
										 <!-- <div class="form-group">
										    <label for="exampleInputPassword1">City</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] ="customer.city" type="text" class="form-control" id="exampleInputPassworda" placeholder="City">
										  </div>

										  <div class="form-group">
										    <label for="exampleInputEmail1">State</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] ="customer.state" type="text" class="form-control" id="exampleInputEmailg" aria-describedby="emailHelp" placeholder="State">
										  </div>
										    <div class="form-group">
										    <label for="exampleInputEmail1">Zip/Postal Code</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] ="customer.zip" type="tel" class="form-control" id="exampleInputEmailk" aria-describedby="emailHelp" placeholder="Zip/Postal Code">
										  </div> -->
										<div class="form-group">
											<label for="selections">Select Location:</label>
											<select [ngModelOptions]="{standalone: true}" class="form-control" [(ngModel)]="customer.location" id="selections">
												<option> </option>
												<option>Iphixx Booking</option>
												<option>Joyce of Wexford</option>
											</select>
										</div>
										
									</div>
									<div class="col ">
										<button (click)="actionCustomer()" type="submit" class="btn btn-lg btn-primary update"> {{ buttonName }}</button>
										<button (click)="goToCustomer()" type="submit" class="btn btn-lg btn-primary update ">Cancel</button>
									</div>
								</form>
								</div>
					</div>
			</div>
	</div>