<app-navbar> </app-navbar>
<app-sidebar> </app-sidebar>
<app-footer> </app-footer>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="pacman"></ngx-spinner>



<div class="main">

	<div class="main-content">

		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title"> Log Details </h3>
			</div>
			<div class="panel-body">
				<div class="col-12">
					<form>
						<div class="col-lg-4 ">

							<div class="form-group">
								<label for="exampleInputEmail1">Booking ID</label>
								<p class="form-control">{{ id }}</p>
							</div>
						
							<div class="form-group">
								<label for="exampleInputEmail1">Ticket No</label>
								<p class="form-control">{{ logistic.bookings_id }}</p>
							</div>


							<div class="form-group">
								<label for="exampleInputEmail13">Device Model</label>
								<p class="form-control" placeholder="Device Model">{{logistic.device_brand}} {{logistic.model_name}}</p>
							</div>


						</div>
						<div class="col-lg-4 ">
							<div class="form-group">
								<label for="exampleInputEmail1">Customer ID</label>
								<p class="form-control">{{ logistic.customer_id }}</p>
							</div>

							<div class="form-group">
								<label for="exampleInputEmail1">Full Name</label>
								<p class="form-control">{{ logistic.customer_fname}}  {{logistic.customer_lname}}</p>
							</div>							
						
							<div class="form-group">
								<label for="exampleInputEmail13">Location</label>
								<p class="form-control">{{getLocation(logistic.location_id)}}</p>
							</div>		
						</div>

						<div class="col-lg-4 ">
							<div class="form-group">
								<label for="exampleInputEmail13">Booking Status</label>
								<p class="form-control">{{getBookingStatus(logistic.leadstatus_no)}}</p>
							</div>

							<div class="form-group">
								<label for="exampleInputEmail13">Ticket Status</label>
								<p class="form-control">{{getTicketStatus(logistic.ticketstatus_no)}}</p>
							</div>						
						</div>
					</form>

				</div>



			</div>
			<div class="panel-heading">
				<h3 class="panel-title"> Log History </h3>
			</div>
			<div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-hover ">
                    <thead>
                      <tr>
                        <th> 
                        	Action
                        </th>
                        <th>
                        	Action Timestamp
                        </th>                
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngIf="logistic.cancelled_timestamp != null">                      
                        <td>Repair of Ticket No {{ logistic.ticket_no }} has been marked as cancelled.</td>
                        <td>{{logistic.cancelled_timestamp}}</td>
                      </tr>

                      <tr *ngIf="logistic.lost_timestamp != null">                      
                        <td>Lead of Booking No {{ logistic.bookings_id }} has been marked as lost.</td>
                        <td>{{ logistic.lost_timestamp }}</td>
                      </tr>

                      <tr *ngIf="logistic.resolved_timestamp != null">                      
                        <td>Repair of Ticket No {{ logistic.ticket_no }} has been marked as resolved.</td>
                        <td>{{logistic.resolved_timestamp}}</td>
                      </tr>

                      <tr *ngIf="logistic.inbound_timestamp != null">                      
                        <td>Repaired Device of Ticket No {{ logistic.ticket_no }} is now inbound back to repair hub.</td>
                        <td>{{logistic.inbound_timestamp}}</td>
                      </tr>

                      <tr *ngIf="logistic.ongoing_timestamp != null">                      
                        <td>Repair of Ticket No {{ logistic.ticket_no }} is now ongoing.</td>
                        <td>{{logistic.ongoing_timestamp}}</td>
                      </tr>

                      <tr *ngIf="logistic.outbound_timestamp != null">                      
                        <td>Device of Ticket No {{ logistic.ticket_no }} is now outbound to facility for repair.</td>
                        <td>{{logistic.outbound_timestamp}}</td>
                      </tr>

                      <tr *ngIf="logistic.ticket_create != null">                      
                        <td>Ticket No {{ logistic.ticket_no }} has been created.</td>
                        <td>{{logistic.ticket_create}}</td>
                      </tr>

                      <tr *ngIf="logistic.transfer_timestamp != null">                      
                        <td>Booking No {{ logistic.bookings_id }} has been transferred to Ticket No {{ logistic.ticket_no }}.</td>
                        <td>{{logistic.transfer_timestamp}}</td>
                      </tr>

                      <tr *ngIf="logistic.created_at != null">                      
                        <td>Booking No {{ logistic.bookings_id }} has been created.</td>
                        <td>{{logistic.created_at}}</td>
                      </tr>

                    </tbody>                    
                  </table>                
                </div>
          </div>

			<div class="panel-body">
				<div class="col-12">
					<button (click)="goToLogistics()" type="submit" class="btn btn-lg btn-primary update">Back</button>
				</div>
			</div>

		</div>
	</div>
</div>