<app-navbar> </app-navbar>
<app-sidebar> </app-sidebar>
<app-footer> </app-footer>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="pacman"></ngx-spinner>



<div class="main">

	<div class="main-content">

		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title"> Log History </h3>
			</div>
			<div class="panel-body">
				<div class="col-12">
					<form>
						<div class="col-lg-4 ">

							<div class="form-group">
								<label for="exampleInputEmail1">Booking ID</label>
								<p class="form-control">{{ id }}</p>
							</div>
						
							<div class="form-group">
								<label for="exampleInputEmail1">Ticket No</label>
								<p class="form-control">{{ logistic.bookings_id }}</p>
							</div>


							<div class="form-group">
								<label for="exampleInputEmail13">Device Model</label>
								<p class="form-control" placeholder="Device Model">{{logistic.device_brand}} {{logistic.model_name}}</p>
							</div>


						</div>
						<div class="col-lg-4 ">
							<div class="form-group">
								<label for="exampleInputEmail1">Customer ID</label>
								<p class="form-control">{{ logistic.customer_id }}</p>
							</div>

							<div class="form-group">
								<label for="exampleInputEmail1">Full Name</label>
								<p class="form-control">{{ logistic.customer_fname}}  {{logistic.customer_lname}}</p>
							</div>							
						
							<div class="form-group">
								<label for="exampleInputEmail13">Location</label>
								<p class="form-control">{{getLocation(logistic.location_id)}}</p>
							</div>		
						</div>

						<div class="col-lg-4 ">
							<div class="form-group">
								<label for="exampleInputEmail13">Booking Status</label>
								<p class="form-control">{{getBookingStatus(logistic.leadstatus_no)}}</p>
							</div>

							<div class="form-group">
								<label for="exampleInputEmail13">Ticket Status</label>
								<p class="form-control">{{getTicketStatus(logistic.ticketstatus_no)}}</p>
							</div>						
						</div>
					</form>

				</div>



			</div>
			<div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-hover ">
                    <thead>
                      <tr>
                        <th> 
                        	Action
                        </th>
                        <th>
                        	Action Timestamp
                        </th>                
                      </tr>
                    </thead>

                    <tbody>
                      <tr>                      
                        <td>Repair of Ticket No {{ logistic.ticket_no }} has been marked as cancelled.</td>
                        <td>{{logistic.cancelled_timestamp}}</td>
                      </tr>

                      <tr>                      
                        <td>Lead of Booking No {{ logistic.bookings_id }} has been marked as lost.</td>
                        <td>{{ logistic.lost_timestamp }}</td>
                      </tr>

                      <tr>                      
                        <td>Repair of Ticket No {{ logistic.ticket_no }} has been marked as resolved.</td>
                        <td>{{logistic.resolved_timestamp}}</td>
                      </tr>

                      <tr>                      
                        <td>Repaired Device of Ticket No {{ logistic.ticket_no }} is now inbound back to repair hub.</td>
                        <td>{{logistic.inbound_timestamp}}</td>
                      </tr>

                      <tr>                      
                        <td>Repair of Ticket No {{ logistic.ticket_no }} is now ongoing.</td>
                        <td>{{logistic.ongoing_timestamp}}</td>
                      </tr>

                      <tr>                      
                        <td>Device of Ticket No {{ logistic.ticket_no }} is now outbound to facility for repair.</td>
                        <td>{{logistic.outbound_timestamp}}</td>
                      </tr>

                      <tr>                      
                        <td>Ticket No {{ logistic.ticket_no }} has been created.</td>
                        <td>{{logistic.ticket_create}}</td>
                      </tr>

                      <tr>                      
                        <td>Booking No {{ logistic.bookings_id }} has been transferred to Ticket No {{ logistic.ticket_no }}.</td>
                        <td>{{logistic.transfer_timestamp}}</td>
                      </tr>

                      <tr>                      
                        <td>Booking No {{ logistic.bookings_id }} has been created.</td>
                        <td>{{logistic.created_at}}</td>
                      </tr>






                    </tbody>

                    
                  </table>
                
                </div>
          </div>
			<div class="panel-body">
				<div class="col-12">
					<button (click)="goToBooking()" type="submit" class="btn btn-lg btn-primary update">Back</button>
				</div>
			</div>

		</div>
	</div>
</div>


<!-- <ngx-smart-modal #myModal identifier="myModal" (onOpen)="log('Modal opened!')" (onClose)="log('Modal closed!')" (onDismiss)="log('Modal dismissed!')">


		

					<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">View Invoice Details</h3>
								</div>
								<div class="panel-body">
								<form>
									<div class="col-lg-6 ">
										 <div *ngIf="myModal.hasData()">
    <pre>{{ myModal.getData() | json }}</pre>
  </div>
									
										<div>
										    <label for="exampleInputEmail1">Invoice No.</label>
										    <p class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Device Type">10566</p>
										  </div>

										  <div>
										    <label for="exampleInputEmail1">Full Name</label>
										    <p class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Device Type">Sample</p>
										  </div>

										  <div>
										    <label for="exampleInputEmail1">Device Type</label>
										    <p class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Device Type">Phone</p>
										  </div>

										  <div>
										    <label for="exampleInputEmail13">Device Model</label>
										    <p class="form-control" id="exampleInputEmail13" aria-describedby="emailHelp" placeholder="Device Model">iPhone X</p>
										  </div>

			
									</div>
									<div class="col-lg-6 ">
										<label for="exampleInputEmail1">Item/s</label>
										  <div>
										    
										    <p  class="form-control" id="exampleInputEmail13" aria-describedby="emailHelp" placeholder="Device Color">Earpiece Repair</p>
										  

										  
										    
										    <p  class="form-control" id="exampleInputEmail13" aria-describedby="emailHelp" placeholder="Device Color">Headphone Repair</p>
										 
										    
										    <p  class="form-control" id="exampleInputEmail13" aria-describedby="emailHelp" placeholder="Device Color">Power Button Repair</p>
										  </div>

										  <div>
										    <label for="exampleInputEmail1">Total Price</label>
										    <p class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Device Type">€480.00</p>
										  </div>
										 
										
									</div>
								</form>
								</div>
								<div class="panel-body">
									<button (click)="myModal.close()" type="submit" class="btn btn-lg btn-primary update">Back</button>
								</div>
					</div>
</ngx-smart-modal> -->

<!-- <app-navbar > </app-navbar>
<app-sidebar > </app-sidebar>
<app-footer > </app-footer>
<ngx-spinner
	bdColor = "rgba(51, 51, 51, 0.8)"
	size = "medium"
	color = "#fff"
	type = "pacman"
></ngx-spinner>



	<div class="main">

			<div class="main-content">

					<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">View Invoice Details</h3>
								</div>
								<div class="panel-body">
								<form>
									<div class="col-lg-6 ">
									
										<div>
										    <label for="exampleInputEmail1">Invoice No.</label>
										    <p class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Device Type"></p>
										  </div>

										  <div>
										    <label for="exampleInputEmail1">Full Name</label>
										    <p class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Device Type">{{lead.fullname}}</p>
										  </div>

										  <div>
										    <label for="exampleInputEmail1">Device Type</label>
										    <p class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Device Type">{{lead.device}}</p>
										  </div>
										  <div class="form-group">
										    <label for="exampleInputPassword1">Last Name</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] ="customer.lastname" type="text" class="form-control" id="exampleInputPassword1" placeholder="Last Name">
										  </div>

										  <div>
										    <label for="exampleInputEmail13">Device Model</label>
										    <p class="form-control" id="exampleInputEmail13" aria-describedby="emailHelp" placeholder="Device Model">{{lead.brand}} {{lead.model}}</p>
										  </div>

			
									</div>
									<div class="col-lg-6 ">
										<label for="exampleInputEmail1">Item/s</label>
										  <div *ngFor="let repair of repairs; let i = index">
										    
										    <p  class="form-control" id="exampleInputEmail13" aria-describedby="emailHelp" placeholder="Device Color">{{repair}}</p>
										  </div>

										  <div>
										    <label for="exampleInputEmail1">Total Price</label>
										    <p class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Device Type">{{lead.total_price}}</p>
										  </div>
										 
										
									</div>
								</form>
								</div>
					</div>
			</div>
	</div> -->