<app-navbar > </app-navbar>
<app-sidebar > </app-sidebar>
<app-footer > </app-footer>
<ngx-spinner
	bdColor = "rgba(51, 51, 51, 0.8)"
	size = "medium"
	color = "#fff"
	type = "pacman"
></ngx-spinner>
	<div class="main">
		<div class="main-content">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">Add Network</h3>
				</div>
						<div class="panel-body">								
									<div class="col-lg-6 ">
										  <div class="form-group">
										    <label for="exampleInputEmail1">Network Name</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] = "network.network_name"  type="text" class="form-control" id="networkname" aria-describedby="emailHelp" placeholder="Network Name">
										  </div>

										  <div class="form-group">
										    <label for="exampleInputEmail1">Network Filepath</label>
										    <input #imageInput [ngModelOptions]="{standalone: true}" [(ngModel)] = "network.network_path"  type="file" class="form-control" id="fullname" (change)="acceptImage(imageInput)" aria-describedby="emailHelp" placeholder="Network Image Path" accept="image/jpeg">
										  </div>

										  <div class="form-group">
										    <label for="exampleInputEmail1" disabled >Network Filename</label>
										    <p class="form-control">{{ network.network_file }}</p>
										  </div>								 
									</div>
									<div class="col-lg-6 ">
										  <div>
										    <label for="exampleInputEmail1">Image Preview</label>
										    
										  </div>							 
									</div>
									<div class="col-lg-12">
										<button (click)="addNetwork()" type="submit" class="btn btn-lg btn-primary update">Save Changes</button>
										<button (click)="goToNetworks()" type="submit" class="btn btn-lg btn-primary update cancel">Cancel</button>
									</div>

							</div>
					</div>
			</div>
	</div>