 .metric .title {
    font-size: 18px;
     }

.green {
	color: #61B329;
}


.small {
	color: #C73F17;
}

 .metric p {
    margin-bottom: 0;
    line-height: 1.2;
    text-align: left; }

.metric .number{
	font-size: 22px;
}

.panel.panel-headline .panel-heading .large{
	font-size: 20px;
}