<!-- MAIN CONTENT -->
	
<app-navbar > </app-navbar>
<app-sidebar > </app-sidebar>
<app-footer > </app-footer>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="pacman"></ngx-spinner>
	<div class="main">

			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title">iPhixx Electronics Limited</h3>
							<hr class="lines">
							<p class="panel-subtitle large">Overview</p>
						</div>
						<div class="panel-body">
						</div>
						<br>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-3" *ngFor="let count of counter; let i = index" [ngStyle]="{'color': i%2===0 ? 'rgba(41,128,185 ,1)' : 'green'}">
									<div class="metric">
										<p>
											<span class="title "> {{count.name }}</span>
											<span class="number"> Count: {{count.value}} </span>
										</p>
									</div>
								</div>
								
							</div>
						
						</div>
					</div>
					<!-- END OVERVIEW -->
					<div class="row">
					
						<div class="col-md-9">
							<!-- TODO LIST -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Reminders</h3>
									<div class="left">
											<button type="button" routerLink="/add-reminder/add" class="btn">
												<i class="lnr lnr-plus-circle"></i>
												Add Reminder
											</button>
									</div>
									<div class="right">
										<button type="button" class="btn-toggle-collapse">
											<i class="lnr lnr-chevron-up"></i>
										</button>
										<button type="button" class="btn-remove">
											<i class="lnr lnr-cross"></i>
										</button>
									</div>
								</div>
								<div class="panel-body">
									<ul class="list-unstyled todo-list">
										<li *ngFor="let reminder of reminders, let i = index">
											<label class="control-inline fancy-checkbox">
												<input type="checkbox" (change)="removeReminder($event, i)">
												<span></span>
											</label>
											<p [ngClass]="{'cancelled': reminder.isCanceled }">
												<span class="title">{{ reminder.reminderSubject }}</span>
												<span class="short-description"> {{ reminder.reminderBody }} </span>
												<span class="date"> {{ reminder.reminderDate }} </span>
											</p>
											<div class="controls">
												<a (click)="editReminder(i)">
													<span class="glyphicon glyphicon-pencil"></span>
												</a>
												<a (click)="deleteReminder(i)">
													<span class="glyphicon glyphicon-trash"></span>
												</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<!-- END TODO LIST -->
						</div>

						<div class="col-md-3">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Quick Access</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse">
											<i class="lnr lnr-chevron-up"></i>
										</button>
									</div>
								</div>
								<div class="panel-body">
									<div class="col-md-2"></div>
									<div class="btn-cover col-md-12">
										<button type="button" (click)="newCustomer()" class="bbttns"> Add Customer </button>
										<button type="button" (click)="editBooking()" class="bbttns"> New Booking </button>
										<button type="button" (click)="goToTax()" class="bbttns"> Add Tax </button>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div> 
			</div>
			<!-- END MAIN CONTENT -->