<app-navbar> </app-navbar>
<app-sidebar> </app-sidebar>
<app-footer> </app-footer>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="pacman"></ngx-spinner>

<div class="main">
  <div class="main-content">
    <div class="container-fluid">
      <div class="col-lg-12">
        <!-- TABLE HOVER -->
        <div class="panel panel-headline">
                <div class="panel-heading">
                  <div class="sub-menu">
                    <h4 (click)= "openPager('logistics')" [ngStyle]="{'color':pager === 'logistics' ? '#2980b9' : 'black', 'background': pager === 'logistics' ? '#ffffff' : 'none'}">Logs</h4>
                  </div>
                  
                </div>

          <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-hover ">
                    <thead>
                      <tr>
                        <!-- <th>
                          From Location
                        </th>
                        <th>
                          To Location
                        </th>
                        <th> 
                          Requested at
                        </th>
                        <th>
                          Due at
                        </th> -->
                         <th>
                        	Booking No.
                        </th>
                        <th>
                        	Ticket No.
                        </th>
                        <th> 
                        	Booking Status
                        </th>
                        <th>
                          Ticket Status
                        </th>
                        <th>
                          Location
                        </th>
                        <th>
                        </th>
                
                      </tr>
                    </thead>
                    <tbody>
                      <!-- <tr *ngFor="let logistic of logistics; let i = index" [hidden]="location !== ticket.location && location"> -->
                      <tr *ngFor="let logistic of logistics; let i = index">
                        <!--  <td>{{item.name}}</td>
                									        <td>{{item.email}}</td>
                									        <td class="text-right">{{item.age}}</td>
                									        <td>{{item.city | uppercase}}</td>
                									        <td>{{item.city | uppercase}}</td> -->
                        <!-- <td>{{ ticket.location }}</td>
                        <td>{{ ticket.location }}</td> -->
                        <!-- <td></td> -->
                       <!--  <td> Iphixx-Booking </td>
                        <td> 01/01/2019 </td> -->
                        <!-- <td>{{ ticket.phone2 }}</td> -->
                         <td>{{ logistic.bookings_id }}</td>
                        <td>{{ getTicket(logistic.ticket_no) }}</td>
                        <td>{{ getBookingStatus(logistic.leadstatus_no) }}</td>
                         <td>{{ getBookingStatus(logistic.ticketstatus_no) }}</td>
                        <td>{{ logistic.location_name }}</td>
                        <td>
                
                          <button [satPopoverAnchorFor]="contactPopover" (click)="contactPopover.toggle()" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-option-horizontal"></span>
                          </button>
                
                          <sat-popover #contactPopover hasBackdrop verticalAlign="below">
                            <div class="list-group">
                              <a (click)="viewHistory( logistic.bookings_id )" class="list-group-item list-group-item-action">
                                <span class="margin-icon glyphicon glyphicon-eye-open"></span>    View History</a>
                            </div>
                
                          </sat-popover>
                
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="12" class="top-space">
                              <button class="btn btn-lg btn-primary update navigate {{ logisticsPageActive == 1 ? 'disabled' : ''}}" (click) = "PreviosPage()">Previous</button>
                              
                              <select [(ngModel)] = "currentPage" (change)="goToPage($event.target.value)" class="btn btn-lg btn-primary update navigate">
                              <option [value]="i" *ngFor="let page of logisticPages ; let i = index">{{i+1}}</option>
                            </select>
                              
                              <button class="btn btn-lg btn-primary update navigate {{ logisticsPageActive == logisticPages.length ? 'disabled' : ''}}" (click) = "NextPage()">Next</button>
                            </td>
                        </tr>
                      </tfoot>
                  </table>
                
                </div>
          </div>
        </div>
        <!-- END TABLE HOVER -->
      </div>


    </div>
  </div>
</div>