.panel-title {
	font-size: 22px;
	font-family: Helvetica;
}
.saved {
    // text-align: center;
    button { 
        font-size: 1.5rem;
        margin-top: 10px; 
        background-color: #00AAFF !important;
        color: #ffffff
    }
}