th{
	color : #337ab7;
}

.center{
	margin-left:45%;
}

.table-responsive {
	overflow-x: unset;
}

.margin-icon{
	margin-right : 10px;
	cursor: pointer;
}

.popover-content {
    padding: 0;
}

.list-group-item{
	cursor: pointer;
}