<app-navbar > </app-navbar>
<app-sidebar > </app-sidebar>

<ngx-spinner
	bdColor = "rgba(51, 51, 51, 0.8)"
	size = "medium"
	color = "#fff"
	type = "pacman"
></ngx-spinner>

<div class="main">
	<div class="main-content">
		<div class="container-fluid">
			<div class="col-lg-12">
							<!-- TABLE HOVER -->
							<div class="panel panel-headline">
								<div class="panel-heading">
									<div class="sub-menu">
										<h4 (click)= "openPager('leads')" [ngStyle]="{'color':pager === 'leads' ? '#2980b9' : 'black', 'background': pager === 'leads' ? '#ffffff' : 'none'}">Leads</h4>
									</div>
								</div>
								<div class="panel-body">
									<div class="table-responsive">
									<table class="table table-hover ">
									    <thead>
									    <tr>
									    	<th>
									            Lead No.
									        </th>
									    	<th>
												 Lead Name
									        </th>
									        <th >
												Date Created
									        </th>
									        <th>
									            Agent Assigned
									        </th>
									        <th>
									           Device Model
									        </th>
									        <th>
									            Status
									        </th>									     
									        <th>
									            Action
									        </th>
									    </tr>
									    </thead>
									    <tbody>
									    <tr *ngFor="let lead of leads; let i = index" >

									     	<td> {{ lead.bookings_id }} </td>
									        <td> {{ lead.customer_fname }} {{ lead.customer_lname }} </td>
									        <td> {{ lead.created_at }} </td>
									        <td>{{ lead.agent_fname }} {{ lead.agent_lname }}</td>
											<td>{{ lead.device_brand }} {{ lead.model_name }}</td>
											<td> {{ lead.lead_status }}</td>
											<td>

												<button  [satPopoverAnchorFor]="contactPopover" (click)="contactPopover.toggle()" class="btn btn-default btn-sm">
		          									<span class="glyphicon glyphicon-option-horizontal"></span>
		        								</button>


												<sat-popover #contactPopover hasBackdrop verticalAlign="below">
												  	<div class="list-group">
  														<a (click)="transferLead(lead.bookings_id)" class="list-group-item list-group-item-action"><span class="margin-icon glyphicon glyphicon-arrow-right"></span>  Transfer to Ticket</a>

														<a (click)="viewCustomer(lead.bookings_id, i)" class="list-group-item list-group-item-action"><span class="margin-icon glyphicon glyphicon-user"></span>  View Customer</a>

														<a (click)="leadLost(lead.bookings_id)" class="list-group-item list-group-item-action"><span class="margin-icon glyphicon glyphicon-remove"></span> Mark as Lost</a>												 
													</div>
												</sat-popover>		        								
											</td>
											
									    </tr>
									    </tbody>
									    <tfoot>
									    	<tr>
									        	<td colspan="12" class="top-space">
									        		<button class="btn btn-lg btn-primary update navigate {{ pageActive == 1 ? 'disabled' : ''}}" (click) = "PreviosPage()">Previous</button>
									        		
									        		<select [(ngModel)] = "currentPage" (change)="goToPage($event.target.value)" class="btn btn-lg btn-primary update navigate">
										    			<option [value]="i" *ngFor="let page of pages; let i = index">{{i+1}}</option>
										    		</select>
									        		
									        		<button class="btn btn-lg btn-primary update navigate {{ pageActive == pages.length ? 'disabled' : ''}}" (click) = "NextPage()">Next</button>
									        	</td>
									    	</tr>
									    </tfoot>
									</table>
										
									</div>
								</div>
							</div>
							<!-- END TABLE HOVER -->
						</div>
						

		</div>
	</div>
</div>



