th{
	color : #337ab7;
}

.center{
	margin-left:45%;
}

.table-responsive {
	overflow-x: unset;
}

.margin-icon{
	margin-right : 10px;
	cursor: pointer;
}

.popover-content {
    padding: 0;
}
.table th, .table tr { text-align: center !important; }
.list-group-item{
	cursor: pointer;
}
 tr:nth-child(even) {
	background-color: rgba(128, 128, 128, 0.1) !important; 
} 